.app_logoContainer {
  padding: 0 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: black;
  margin-bottom: 40px;
}

.app_logo{
  height: 30vh;
}